
.close {
	
	position:relative;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  
}

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:rgba(0, 0, 0, 0.600);
  display:none;
}

#boxes .window {
  position:fixed;
  display:none;
  z-index:9999;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  background: #900;
  border: 2px solid #fff;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -o-border-radius: 26px;
  border-radius: 26px;
  -moz-box-shadow:1px 1px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow:1px 1px 5px rgba(0,0,0,0.5);
  box-shadow:1px 1px 5px rgba(0,0,0,0.5);
  }


#boxes #dialog, #boxes #dialog1, #boxes #dialog2 {
  font-family: Arial, Helvetica, sans-serif;
  width:375px; 
  height:200px;
  padding:10px;
  background-color:white;
}

#modalHospitales a:link,#modalHospitales  a:visited{  

  display: flex;
  justify-content: center;
  align-items: center; 
  background-color:  rgb(60, 60, 60);
  width: 100%;
  height: 20%; 
  font-family: arial;
  border-style: solid;
  border-width: 2px;}

#modalHospitales a:hover {
  text-decoration: underline;
}

#modalHospitales{
  
  margin:20px;
  font-family: Arial, Helvetica, sans-serif;
}


.flex-container{
  display: flex;
}

#columnasHospitales{
  background-color: rgba(208, 228, 228, 0.26);
  padding: 30px;
  justify-content:space-around;
}

#columnasHospitales img{
  width: 150px;
  height: 150px;
}

#columnasHospitales li {
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: rgba(208, 228, 228, 0.26);
  width: 100%;
  height: 20%; 
  font-family: arial;
  border-style: solid;
  border-width: 2px;
}

#boxes{
  padding: 15px;
}