header{
    background-color: rgb(105, 170, 164);
    height: 70px;
    margin: 10px 10px 0 10px;
    padding: 25px;
}

#logo{
    max-width: 60px;
    max-height: 60px;
    float:left;
}

#logo img{  
    width: 100%;
    height: 100%;
    background-color: transparent;
}

#searcher {  
    width: 500px;
    height: 32px;
    float: left;
    border: 2px solid black;
    margin-top: 20px;
    margin-left: 30px;
}

#searcher .buscar{ 
    width: 464px;
    height: 30px;
    float: left;
    border:none;
}

#searcher .boton {  
    background: white url(../img/buscar.png);
    height: 32px;
    width: 32px;
    border:none;
}

#social {
    float: right;
    margin-top: 20px;
    
}

#social .twitter{
    float:left;
    margin-left: 10px;
}

#social .facebook {
    float:left;
}

#social .instagram {
    float:left;
    margin: 0px 10px 0px 10px;
}

#social .twitter a{
    background: transparent url(../img/twitter.png);
    width: 32px;
    height: 32px;
    display: block;
}

#social .facebook a{
    background: transparent url(../img/facebook.png);
    width: 32px;
    height: 32px;
    display: block;
}

#social .instagram a{
    background: transparent url(../img/instagram.png);
    width: 32px;
    height: 32px;
    display: block;
}

h1{
    font-family: arial;
    font-size: 22px;
    text-align: center;
}

.flex-container{
    display: flex;
}

#columnas{
    background-color: rgba(151, 151, 151, 0.474);
    margin: 10px;
    padding: 30px;
    justify-content:space-around;
}

#columnas img{
    width: 150px;
    height: 150px;
}

#columnas li {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgb(44, 44, 44);
    width: 100%;
    height: 20%; 
    font-family: arial;
    border-style: solid;
    border-width: 2px;
}

#telefono{
    margin: 10px;
    padding: 20px;
    height: 100%;
    background: rgba(107, 177, 170, 0.207);
}

#telefono .grid-container {
    display: grid;
    grid-gap: 5px;
    padding: 10px;
}

#telefono .item1 {
    grid-column: 1;
    grid-row: 1;
    font-family: arial;
    font-size: 40px;
    padding: 20px;
    text-align: left;
}

#telefono .item2{
    font-family: arial;
    font-size: 80px;
    padding: 20px;
    text-align: center;
    grid-column: 1;
    grid-row: 2;
}
 
#telefono .item3 {
    grid-column: 2;
    grid-row: 1 / span 2;
}

#telefono .item3 img{
    width: 200px;
    height: 200px;
    max-width:100%;
    max-height:100%;
    grid-row: 1 / span 2;   
}

#telefono .item4{
    grid-row: 1 / span 2;
    grid-column: 4;
    font-family: arial;
    font-size: 200px;   
}

footer{
    background-color: rgb(44, 44, 44);
    max-height: 150px;
    margin: 10px;
}

#footer {
    display: flex;
    font-family: arial;
    color: white;
    font-size: 20px;
    padding-top: 10px;
    justify-content:space-around;
    height: 100%;
}

#footer il{
    display:flex;
    flex-direction: column;
    padding-top: 4px;
    font-size: 16px;
}

#barranav{
    background-color: rgb(50, 50, 50);
    height: 40px;
    margin: 0 10px 10px 10px;
    font-family: arial;
    color: white;
    padding-top: 2px;
    justify-content:space-around;
}
ul{
    margin-top:0px;
    margin-bottom: 0px;
}
.navegacion il{
    padding: 10px;
}
#barranav a:link, a:visited{  
    background-color: rgb(70, 70, 70);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:link, a:visited{  
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
  }


#listado{
    margin: 20px;
    height: 100%;
    background:  rgba(107, 177, 170, 0.207);
}

#lista .grid-container {
    display: grid;
    padding: 25px;
    grid-gap: 20px;
}

#listado .imagen{
    grid-column: 1;
    grid-row: 1 / span 3;
    width: 300px;
    height: 300px;
}

#listado .imagen img{
    width: 100%;
    height: 100%;
}

#listado .titulo{
    font-family: arial;
    font-size:25px;
    grid-column: 2;
    grid-row: 1/span2;
}
 
#listado .descripcion{
    font-family: arial;
    grid-column: 2 /span 3;
    grid-row: 2 ;
    font-size: 18px;
}


#listado .detalle{
    grid-row: 3;
    grid-column: 2;
    font-family: arial;
    font-size: 20px;
}

#listado a:link, a:visited{  
    background-color: rgb(70, 70, 70);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: arial;
    font-size: 18px;
}

#filtrar{
    background-color: rgba(131, 146, 144, 0.604);
    height: 70px;
    margin: 10px 10px 0 10px;
    padding: 25px;
}

#testcovid {
    margin: 20px;
    height: 100%;
    padding: 20px;
}

#testcovid .grid-container{  
    display: grid;
    padding: 25px;
    justify-content: space-between;
    grid-gap: 40px;
}

#sintomas {
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}

.sintomas img{
    width: 250px;
    height: 200px;
}

.sintomas h1{
    font-family: arial;
    font-size: 20px;
    text-align: left;
    padding-top: 20px;
}

#testcovid .sintomas{
    grid-row: 2;
    grid-column: 1;
}

#testco{
    width: 70%;
}

#testcovid form{
    grid-row: 1/span 3;
    grid-column: 2;
}

#testco{
    font-family: arial;
    font-size: 16px;
}

#testcovid{
    flex-wrap: wrap;
    background-color: rgba(208, 228, 228, 0.26);
    padding: 20px;
    margin: 10px 20px 10px 20px;
}

#presentacion{
    height: 100%;
    width: 100%;
    height: 100px;
    width: 600px;
}

#formtest{
    width: 400px; 
}

input{
    border-color: black;
}

#prevencion {
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    background-color: rgba(208, 228, 228, 0.26);
    margin: 10px 20px 10px 20px;
}

#prevencion img{
    width: 200px;
    margin: 40px;
}

#mapacercano{
    align-content: space-between;
    justify-content: center;
    background: rgba(107, 177, 170, 0.207);
    margin: 10px 20px 10px 20px;
}

#mapacercano img{
    width: 300px;
    margin: 40px;
    height: 250px;
}

#mapa{
    text-align: center;
    margin: 10px 20px 10px 20px;
    height: 100%;
    background-color: rgba(208, 228, 228, 0.26);
}
#mapa img{
    margin: 10px;
}

#contacto {
    display: flex;
    font-family: arial;
    font-size: 18px;
    padding-top: 10px;
    justify-content:space-around;
    background-color: rgba(208, 228, 228, 0.26);
    margin: 5px 20px 10px 20px;
}

#contacto h1{
    text-align: left;
}

#datoscontaco{
    display: flex;
    flex-direction: row;
}
ul{
    padding-left: 0px;
}

#mostrarPaises{
    display:none ;
}
#mostrarDireccion{
    display:none ;
}

#titulos{
    background-color: rgba(80, 80, 80, 0.95);
    margin: 5px 20px 5px 20px;
    padding: 12px;
    color: whitesmoke;
}

#caracteresRestantes{
    font-family: arial;
    font-size: 18px;
}

textarea{
    overflow:hidden;
    resize:none;
    font-family: arial;
    font-size: 16px;
    border: 2px solid black;

}

#testcovid [type=submit], #contacto input[type=submit]{
    
    background-color: rgb(70, 70, 70);
    border: none;
    color: white;
    padding: 14px 30px;
    text-decoration: none;
    margin: 4px 2px 6px 2px;
    cursor: pointer;
}

/* estilos para el carousel slick */

.slider {
    width: 90%;
    margin: 15px auto;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}

#slider {
    background: rgba(107, 177, 170, 0.207);
    margin: 2px 10px 2px 10px;
}

.slider{
    padding: 10px;
}

@media only screen and (max-width: 720px) {
    
    header{
        width: 100%;
        height: 70px;
        margin: 0px;
        padding: 0px;
    }
    
    #logo{
        width: 50px;
        height: 50px;
        padding: 8px;
    }
    #searcher .buscar{
        width: 144px;
    }
    #searcher {
        width: 180px;
    }
    #social{
        display: none;
    }

    #slider {
        margin: 0px;
    }

    .slick-slide img {
        width: 100%;
        height: 170px;
    }
    .slider {
        width: 100%;
        margin: 5px;
        height: 200px;
    }
    .slick-prev:before,
    .slick-next:before {
        display:none;
    }
    #columnas{
        flex-direction: column;
        margin: 0px;
    }

    #columnas img{
        align-items: center;
    }

    #telefono .item1{
        font-size: 15px;
       
    }
    #telefono .item2{
        font-size: 20px;
        grid-row: 1/ span 2;
        padding-top: 60px;
        text-align: left;
    }
    #telefono .item3 img{
        height: 60px;
        padding-top: 25px;
    }
    #telefono .item4{
        font-size: 70px;
        padding-top: 15px;
    }
    #telefono{
        margin: 10px 0px 0px 0px;
        padding: 0px;
        background: rgba(107, 177, 170, 0.207);
    }

    #telefono .grid-container {
        display: grid;
        grid-gap: 0px;
        padding: 0px;
    }

    footer{
        width: 100%;
        margin: 10px 0px 0px 0px;
        padding: 0px;
    }

    #footer {
        font-size: 15px;
    }

    #footer il{
        padding-top: 2px;
        font-size: 14px;
    }
}